USE [master]
GO
/****** Object:  Database [pizzaria]    Script Date: 04/23/2019 09:52:31 ******/
CREATE DATABASE [pizzaria] ON  PRIMARY 
( NAME = N'pizzaria', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\pizzaria.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'pizzaria_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\pizzaria_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pizzaria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pizzaria]
GO
/****** Object:  Table [dbo].[pedido]    Script Date: 04/23/2019 09:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pedido](
	[codigo] [int] IDENTITY(1,1) NOT NULL,
	[tamanho] [nchar](20) NULL,
	[sabor] [nchar](30) NULL,
	[personalizacao] [nchar](30) NULL,
	[valortotal] [money] NULL,
	[tempopreparo] [int] NULL,
 CONSTRAINT [PK_pedido] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
